/*Estilos da paginas index.html*/
.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover {
    color: rgb(20, 158, 192);
}

.p-30{
    padding: 20px 20px 0px 20px;
}

.ft-p{
    padding: 50px;
}

.br-50{
    border-radius: 50%;
}

.wh-300{
    width: "";
    height:"";
}

.tm-social{
    width: "50";
    height: "50";
}

.mb-50{
    margin-bottom: 50px;
}

/*Estilos da paginas contato.html*/

.ml-50{
    margin-left: 50px;
}


